@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("./assets/Inter-VariableFont_slnt,wght.ttf") format("embedded-opentype"), url("./assets/Inter-VariableFont_slnt,wght.ttf") format("woff2"), url("./assets/Inter-VariableFont_slnt,wght.ttf") format("woff"), url("./assets/Inter-VariableFont_slnt,wght.ttf") format("truetype"), url("./assets/Inter-VariableFont_slnt,wght.ttf") format("svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Times New Roman", serif;
  font-style: normal;
}

p.tel {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

p.time {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  margin: 0;
  padding: 0;
}

p.phone {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  text-decoration-line: underline;
  margin: 0;
  padding: 0;
}

p.description {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3f4e65;
}

p.stock {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #1fd85d;
  margin-bottom: 10px;
}

p.good__name {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  cursor: pointer;
}

p.thanks__text {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  color: #3f4e65;
}

p.Page__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3f4e65;
  margin-bottom: 50px;
}

h1.content__name {
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  margin-bottom: 10px;
}

h1.Page__header {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
}

h2.price {
  font-weight: 800;
  font-size: 30px;
  line-height: 130%;
}

h3.positions__subheader {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h4.positions__subheader {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.Header {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
}
.Header .Header__Up {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(63, 78, 101, 0.3);
  display: flex;
  justify-content: center;
}
.Header .Header__Up .Header__content {
  padding: 15px 280px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.Header .Header__Up .Header_address {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.Header .Header__Up .Header_address .address {
  width: 240px;
  position: relative;
  margin-left: 30px;
}
.Header .Header__Up .Header_address .address::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  top: 10px;
  left: -30px;
}
.Header .Header__Up .Header_address .address:first-child::before {
  background-image: url(./assets/map.png);
}
.Header .Header__Up .Header_address .address:last-child::before {
  background-image: url(./assets/mail.png);
}
.Header .Header__Up .Header__nav .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 60px;
}
.Header .Header__Up .Header__nav p {
  cursor: pointer;
}
.Header .Header__Down {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid rgba(63, 78, 101, 0.3);
}
.Header .Header__Down .btn__menu {
  display: none;
}
.Header .Header__Down .Header__content {
  padding: 15px 280px;
  width: 100%;
  height: 100%;
  padding: 14px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 35px;
}
.Header .Header__Down .Header__content .Header__call {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 10px;
}
.Header .Header__Down .Header__content .Header__call p {
  text-align: end;
}
.Header .Header__Down .Header__content .Header__call img {
  width: 75px;
  border-radius: 37px;
}
.Header .Mobile__Down {
  display: none;
}

.UpFilter {
  width: 100%;
  padding: 0 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
  margin-top: 45px;
}
.UpFilter .UpFilter__sort {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.UpFilter .UpFilter__sort .sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.UpFilter .UpFilter__sort .sort a {
  text-decoration: none;
  color: #3f4e65;
}
.UpFilter .UpFilter__sort .sort a::after {
  content: "▼";
  width: 5px;
  height: 5px;
  margin-left: 5px;
}
.UpFilter ul.Filter__list {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.UpFilter ul.Filter__list li {
  width: 9%;
  display: inline-block;
  text-align: center;
  padding: 9px;
  vertical-align: center;
  list-style-type: none;
  background: white;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  color: #3f4e65;
  font-size: 14px;
  line-height: 17px;
}
.UpFilter h2.Page__subheader {
  display: none;
}

.Catalog {
  width: 100%;
  margin: 0px 280px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 100px;
}
.Catalog .SideMenu {
  width: 13%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.Catalog .SideMenu .SideMenu__filter {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.Catalog .SideMenu .SideMenu__filter .check__filter {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}
.Catalog .SideMenu .SideMenu__filter .check__filter .filter {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  gap: 10px;
}
.Catalog .SideMenu .SideMenu__filter .check__filter .filter label {
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: #3f4e65;
}
.Catalog .SideMenu .SideMenu__filter .check__filter:nth-child(3) {
  padding-bottom: 20px;
  border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
}
.Catalog .SideMenu .SideMenu__btns {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 40px;
}
.Catalog .SideMenu .more {
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #3f4e65;
}
.Catalog .SideMenu .more::after {
  content: "▼";
  width: 5px;
  height: 5px;
  margin-left: 5px;
}
.Catalog .SideMenu .SideMenu__positions {
  width: 100%;
}
.Catalog .SideMenu .SideMenu__positions .check__filter {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.Catalog .SideMenu .SideMenu__positions ul.positions {
  margin: 20px auto;
  border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
}
.Catalog .SideMenu .SideMenu__positions ul.positions li {
  margin: 5px 0;
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3f4e65;
}
.Catalog .SideMenu .SideMenu__positions ul.positions li:last-child {
  margin-bottom: 20px;
}
.Catalog .SideMenu .SideMenu__positions .SideMenu__brend {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.Catalog .Page__goods {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.Catalog .Page__goods .Goods {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.Catalog .Page__goods .Goods .Good__position {
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 330px;
  height: 490px;
  gap: 10px;
}
.Catalog .Page__goods .Goods .Good__position .good__img {
  height: 40%;
  border-radius: 4px;
}
.Catalog .Page__goods .Goods .Good__position .good__price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.Catalog .Page__goods .Goods .Good__position .good__price p {
  font-weight: 800;
  font-size: 16px;
}
.Catalog .Page__goods .Page__num {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #3f4e65;
  margin-bottom: 20px;
}
.Catalog .Page__goods .Page__num .Page__active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  margin: -10px;
}
.Catalog .Page__goods .Page__num::after {
  content: ">";
  color: #ffc85e;
  margin-left: 35px;
  width: 9px;
  height: 16px;
}
.Catalog .Page__goods .Page__num::before {
  content: "<";
  color: #ffc85e;
  margin-right: 35px;
  width: 9px;
  height: 16px;
}

.GoodsPage {
  width: 100%;
  margin: 0 0 60px 0;
  display: none;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 65px;
  padding: 0 280px;
}
.GoodsPage .Goods__content {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 40px;
}
.GoodsPage .Goods__content img {
  width: 50%;
}
.GoodsPage .Goods__content .content__info {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.GoodsPage .Goods__content .content__info .content__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.GoodsPage .Goods__content .content__info .content__action {
  padding-left: 30px;
  margin-bottom: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 80px;
}
.GoodsPage .Goods__content .content__info .content__action img {
  width: 20px;
  height: 20px;
}
.GoodsPage .Goods__content .content__info .content__action .btn {
  background: white;
}
.GoodsPage .Goods__content .content__info .content__action .btn p {
  color: #3f4e65;
}
.GoodsPage .Goods__content .content__info .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 20px;
  border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
  margin-top: 25px;
}
.GoodsPage .Goods__content .content__info .content:last-child {
  border: none;
}

.CartPage {
  width: 100%;
  padding: 0 280px;
  display: none;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 50px;
}
.CartPage .Cart__position {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 50px 0px;
}
.CartPage .Cart__position img {
  width: 191px;
  height: 281px;
}
.CartPage .Cart__position .Cart__info {
  width: 480px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  margin: 0px 120px 0 20px;
}
.CartPage .Cart__position .count {
  padding: 0 45px;
  border-right: 1px dashed rgba(63, 78, 101, 0.2);
  border-left: 1px dashed rgba(63, 78, 101, 0.2);
}
.CartPage .Cart__position .price {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  padding: 0 45px;
  border-right: 1px dashed rgba(63, 78, 101, 0.2);
}
.CartPage .Cart__position .btn__del {
  margin-left: 40px;
}
.CartPage .Cart__total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 100px;
}

.Thanks {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.Thanks .Thanks__box {
  position: relative;
  width: 735px;
  height: 424px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.Thanks .Thanks__box img {
  width: 60px;
  height: 60px;
}
.Thanks .Thanks__box .close {
  position: absolute;
  top: 35px;
  right: 35px;
  color: #ffc85e;
  border: none;
}

.Footer {
  padding: 70px 280px 120px 280px;
  background: #3f4e65;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
}
.Footer .Footer__col {
  max-width: 320px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  color: white;
}
.Footer .Footer__col h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 25px;
}
.Footer .Footer__col h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.Footer .Footer__col ul {
  margin-left: 0;
  padding-left: 0;
}
.Footer .Footer__col ul li {
  list-style-type: none;
  margin-bottom: 20px;
}
.Footer .Footer__col .Icon__Box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}
.Footer .Footer__col .Icon__Box img.Social {
  width: 39px;
  height: 39px;
}
.Footer .Footer__col .Icon__Box img.PayCard {
  width: 61px;
  height: 39px;
}
.Footer .Mobile__footer {
  display: none;
}

.map__nav {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
.map__nav ul {
  width: 100%;
  max-width: 1920px;
  gap: 20px;
}
.map__nav ul li {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  background: white;
  font-size: 14px;
  line-height: 17px;
  border-right: 1px dashed rgba(63, 78, 101, 0.3);
  padding: 0px 10px;
}
.map__nav ul li:last-child {
  border: none;
  color: rgba(63, 78, 101, 0.5);
}
.map__nav .back {
  display: none;
}

.inp__box {
  width: 250px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ededed;
  border-radius: 36px;
  padding: 20px;
  color: #5c6370;
}
.inp__box p {
  font-size: 12px;
  opacity: 0.6;
}
.inp__box .inp__icon {
  width: 40px;
  height: 40px;
  background: #ffc85e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  position: relative;
}
.logo__box img.logo {
  width: 49px;
  height: 66px;
}
.logo__box img.logo1,
.logo__box img.logo2 {
  width: 7px;
  height: 2px;
  position: absolute;
  top: 36px;
  left: 15px;
}
.logo__box img.logo2 {
  left: 27px;
}
.logo__box .logo__name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__box .logo__name img.logo {
  width: 16px;
  height: 16px;
}

.btn,
.btn__del {
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  padding: 10px auto;
  background: #ffc85e;
  border-radius: 79px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.btn p,
.btn__del p {
  color: white;
  font-weight: 700;
  line-height: 17px;
}
.btn img,
.btn__del img {
  width: 15px !important;
  height: 15px !important;
}

.btn__del {
  width: 60px;
  height: 60px;
}
.btn__del img {
  width: 17px;
  height: 19px;
}

.toCart__btn {
  min-width: 148px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: 700;
  font-size: 10px;
  color: white;
  background: #ffc85e;
  border-radius: 80px;
  text-align: center;
  text-transform: uppercase;
  border: 0px solid black;
  gap: 5px;
  cursor: pointer;
}
.toCart__btn img {
  width: 20px !important;
  height: 16px;
}

.good__size {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  color: #3f4e65;
  opacity: 0.6;
  font-size: 12px;
}

.good__info {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  line-height: 150%;
  gap: 5px;
}

.count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.count .count__change {
  padding: auto 14px;
  width: 34px;
  height: 23px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 100%;
  border: none;
}
.count .count__value {
  text-align: center;
  width: 34px;
  height: 23px;
  border-radius: 100%;
  border: none;
}

.Cart__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.Cart__box .Cart__img {
  position: relative;
  border: 0px solid black;
  background: white;
}
.Cart__box .Cart__img img {
  width: 40px;
  height: 29px;
}
.Cart__box .Cart__img .sum__position {
  position: absolute;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffc85e;
  border: 3px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  top: -10px;
  left: 32px;
}

@media (max-width: 900px) {
  .Header {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
  }
  .Header .Header__Up {
    display: none;
  }
  .Header .Header__Down {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid rgba(63, 78, 101, 0.3);
  }
  .Header .Header__Down .btn__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffc85e;
    border-radius: 50%;
    padding: 12px;
  }
  .Header .Header__Down .btn__menu img {
    width: 8px;
    height: 7px;
  }
  .Header .Header__Down .Header__content {
    padding: 15px 15px;
    width: 100%;
    height: 100%;
    padding: 14px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 35px;
  }
  .Header .Header__Down .Header__content .btn,
  .Header .Header__Down .Header__content .Header__call,
  .Header .Header__Down .Header__content .inp__box,
  .Header .Header__Down .Header__content .Cart__text {
    display: none;
  }
  .Header .Mobile__Down {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .Header .Mobile__Down .btn,
  .Header .Mobile__Down .inp__box {
    gap: 5px;
    width: 50%;
    padding: 13px auto;
    background: white;
    border: 1px solid rgba(63, 78, 101, 0.2);
    background: white;
    border-radius: 0;
  }
  .Header .Mobile__Down .btn .inp__icon,
  .Header .Mobile__Down .inp__box .inp__icon {
    background: white;
    text-align: center;
    display: flex;
    justify-content: baseline;
    align-items: center;
  }
  .Header .Mobile__Down .btn p,
  .Header .Mobile__Down .inp__box p {
    color: black;
  }
  .UpFilter {
    width: 100%;
    padding: 25px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 0px;
    margin-top: 0;
  }
  .UpFilter h2.Page__subheader {
    position: relative;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-top: 20px;
  }
  .UpFilter .Page__subheader::after {
    content: "<";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    rotate: -90deg;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -4px;
    right: 0;
    border-radius: 50%;
    background: #ffca65;
    opacity: 0.5;
  }
  .UpFilter .UpFilter__sort {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .UpFilter .UpFilter__sort .sort {
    position: absolute;
    top: 450px;
    left: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
  .UpFilter .UpFilter__sort .sort a {
    text-decoration: none;
    color: #3f4e65;
  }
  .UpFilter .UpFilter__sort .sort a::after {
    content: "▼";
    width: 5px;
    height: 5px;
    margin-left: 5px;
  }
  .UpFilter ul.Filter__list {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 5;
  }
  .UpFilter ul.Filter__list li {
    width: 100%;
    display: inline-block;
    text-align: start;
    padding: 0;
    vertical-align: center;
    list-style-type: none;
    background: white;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    color: #3f4e65;
    font-size: 14px;
    line-height: 17px;
  }
  .Catalog {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    gap: 100px;
    margin: 0;
  }
  .Catalog .SideMenu {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .Catalog .SideMenu h3.positions__subheader {
    display: none;
  }
  .Catalog .SideMenu .SideMenu__filter {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }
  .Catalog .SideMenu .SideMenu__filter .check__filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
  }
  .Catalog .SideMenu .SideMenu__filter .check__filter .filter {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 10px;
  }
  .Catalog .SideMenu .SideMenu__filter .check__filter .filter label {
    font-weight: 400;
    font-size: 14px;
    line-height: 90%;
    color: #3f4e65;
  }
  .Catalog .SideMenu .SideMenu__filter .check__filter:nth-child(3) {
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
  }
  .Catalog .SideMenu .SideMenu__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 40px;
    padding: 0;
  }
  .Catalog .SideMenu .more {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #3f4e65;
  }
  .Catalog .SideMenu .more::after {
    content: "▼";
    width: 5px;
    height: 5px;
    margin-left: 5px;
  }
  .Catalog .SideMenu .SideMenu__positions {
    display: none;
  }
  .Catalog .Page__goods {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .Catalog .Page__goods .Goods {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
  .Catalog .Page__goods .Goods .Good__position {
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 330px;
    height: 490px;
    gap: 10px;
  }
  .Catalog .Page__goods .Goods .Good__position .good__img {
    height: 40%;
    border-radius: 4px;
  }
  .Catalog .Page__goods .Goods .Good__position .good__price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .Catalog .Page__goods .Goods .Good__position .good__price p {
    font-weight: 800;
    font-size: 16px;
  }
  .Catalog .Page__goods .Page__num {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #3f4e65;
    margin-bottom: 20px;
  }
  .Catalog .Page__goods .Page__num .Page__active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    margin: -10px;
  }
  .Catalog .Page__goods .Page__num::after {
    content: ">";
    color: #ffc85e;
    margin-left: 35px;
    width: 9px;
    height: 16px;
  }
  .Catalog .Page__goods .Page__num::before {
    content: "<";
    color: #ffc85e;
    margin-right: 35px;
    width: 9px;
    height: 16px;
  }
  .Footer {
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #3f4e65;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  }
  .Footer .Mobile__footer {
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    color: white;
  }
  .Footer .Mobile__footer .Mobile__footer__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    text-align: start;
    flex-wrap: nowrap;
  }
  .Footer .Mobile__footer .Mobile__footer__box .logo__box {
    scale: 0.7;
  }
  .Footer .Mobile__footer .Mobile__footer__box .btn {
    margin: 13px;
    width: 149px;
    height: 40px;
  }
  .Footer .Mobile__footer .Mobile__footer__box .btn p {
    font-size: 12px;
  }
  .Footer .Mobile__footer .Mobile__footer__box .btn img {
    width: 8px;
    height: 9px;
  }
  .Footer .Mobile__footer .Mobile__footer__box .inp__box {
    width: 100%;
  }
  .Footer .Mobile__footer .Mobile__footer__box h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 25px;
  }
  .Footer .Mobile__footer .Mobile__footer__box p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
  }
  .Footer .Mobile__footer .Mobile__footer__box ul {
    margin-left: 0;
    padding-left: 0;
  }
  .Footer .Mobile__footer .Mobile__footer__box ul li {
    list-style-type: none;
    margin-bottom: 20px;
  }
  .Footer .Mobile__footer .Mobile__footer__box .call__text {
    margin-bottom: 25px;
  }
  .Footer .Mobile__footer .Mobile__footer__box .Icon__Box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
  }
  .Footer .Mobile__footer .Mobile__footer__box .Icon__Box img.Social {
    width: 39px;
    height: 39px;
  }
  .Footer .Mobile__footer .Mobile__footer__box .Icon__Box img.PayCard {
    width: 61px;
    height: 39px;
  }
  .Footer .Footer__col {
    display: none;
  }
  .map__nav ul {
    display: none;
  }
  .map__nav p.back {
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    line-height: 120%;
    margin-left: 37px;
  }
  .map__nav p.back::before {
    content: "<";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -10px;
    left: -37px;
    border-radius: 50%;
    background: #ffca65;
    opacity: 0.5;
  }
}

/*# sourceMappingURL=index.css.map */
